* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    height: 111px;
}

form {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

input {
    margin-top: 70px;
    background: none;
    width: 399px;
    height: 38px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding-left: 13px;
}

input::placeholder {
    padding-left: 13px;
}

input:focus::placeholder {
    color: transparent;
}

h1 {
    font-size: 32px;
    font-weight: 350;
}

.chef-claude-icon {
    width: 43px;
    margin-right: 11px;
}

.add-ingredient-button {
    background: none;
    border: none;
    border-radius: 5px;
    width: 183px;
    height: 38px;
    background-color: black;
    color: white;
    margin-top: 70px;
}