* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter" , sans-serif;
    background-color: #23252C;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 25px;
    margin-top: 21px;
    margin-bottom: 0;
}

h2 {
    color: #F5F5F5;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 5px;
    color: #DCDCDC;
    font-size: 10.24px;
    line-height: 150%;
}

footer {
    display: flex;
    background-color: #161619;
    padding: 19.5px 0;
    justify-content: center;
}

.card {
    width: 317px;
    margin: 44px auto 44px;
    background-color: #1A1B21;
    border-radius: 12px;
    overflow: hidden;
}

.headshot {
    width: 100%;
}

.job-title {
    color: #F3BF99;
    font-size: 12.8px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12.8px;
}

.website-link {
    margin-top: 8.81px;
    font-size: 10.24px;
    cursor: pointer;
    margin-bottom: 15px;
    color: inherit;
    text-decoration: none;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-bottom: 0;
}

.button {
    border: 0;
    padding: 0;
    width: 115px;
    background: transparent;
    cursor: pointer;
}

.button img {
    display: block;
    width: 100%;
}

.about-section {
    display: flex;
    margin: 36px;
    flex-direction: column;
    margin-bottom: 0;
}

.interests-section {
    display: flex;
    margin: 36px;
    margin-top: 2px;
    flex-direction: column;
}

.social-icon {
    /* display: block; */
    width: 25px;
}

.social-icon-container {
    display: flex;
    justify-content: center;
    gap: 23.5px;
}