* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #F55A5A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

h2 {
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 0;
}

span {
    font-size: 10.24px;
}

a {
    font-size: 10.24px;
    margin-left: 12px;
    margin-bottom: 0;
    color: #918E9B;
}

.header-globe {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.location-entry {
    display: flex;
    margin-bottom: 36px;
}

.location-marker {
    width: 6px;
    margin-right: 4px;
}

.location-picture {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-left: 40px;
}

.location-information {
    margin-left: 19px;
}

.location-dates {
    font-weight: bold;
    font-size: 10.24px;
    margin-top: 17px;
}

.location-description {
    font-size: 10.24px;
    color: #2B283A;
    line-height: 150%;
}

.split {
    border: none;
    border-top: 1px solid #F5F5F5;
    margin-bottom: 36px;
    margin: 40px;
}