body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #21222A;
    color: white;
}

h1 {
    margin-top: 30px;
}

.react-logo {
    width: 28.93px;
    height: 28.93px;
}